@import "nullstyle.css";

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
}

.progress {
    display: flex;
    flex-direction: column;    
    align-items: center;
}

@media (min-aspect-ratio: 1) {
    .progress {
        flex-direction: row;
        gap: 7%;
    }
    .progress__circle-wrapper {
        width: 20vw;
        height: 20vw;
    }
    .progress__controlers-wrapper{
        width: 20vw;
        height: 20vw;
    }
}

@media (max-aspect-ratio: 1) {
    .progress {
        flex-direction: column;
        gap: 7%;
    }
    .progress__circle-wrapper {
        width: 20vh;
        height: 20vh;
    }
    .progress__controlers-wrapper{
        width: 20vh;
        height: 20vh;
    }
}

.progress__circle-wrapper {
    position: relative;
}

.progress__circle-wrapper--hide-circle {
    opacity: 0;
    display: none;
    visibility: hidden;
}

.progress__circle {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.progress__circle--animated {
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    from { transform: rotate(-90deg); }
    to { transform: rotate(270deg); }
}

.progress__circle-bg {
    stroke: #d8d8d8;
}

.progress__circle-bar {
    stroke: #1a89e4;
    transition: stroke-dashoffset 0.5s linear;
}

.progress__value-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: clamp(19px, 2vw, 2vw);
}

.progress__controlers-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress__controlers {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.progress__controler {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.progress__input {
    width: 8vw;
    height: 4vw;
    font-size: 3vw;
    padding: 5px 5px;
    border-radius: 2vw;
    border: 1px solid #ccc;
    text-align: center;
}

.progress__toggle {
    position: relative;
    display: inline-block;
    width: 8vw;
    height: 4vw;
}

.progress__label {
    font-size: 3.2vw;
}

.progress__toggle-checkbox {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.progress__toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    border-radius: 2vw;
    transition: 0.4s;
}

.progress__toggle-slider::before {
    position: absolute;
    content: "";
    width: 3.4vw;
    height: 3.4vw;
    left: 0.3vw;
    top: 0.3vw;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

.progress__toggle-checkbox:checked + .progress__toggle-slider {
    background-color: #2196f3;
}

.progress__toggle-checkbox:checked + .progress__toggle-slider::before {
    transform: translateX(4vw);
}
